
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    width: flex;
    margin: 0 auto;
}

header {
    padding:  20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(0, 0, 0);
}
.logo img{ 
    display: flex;
    width: 200px;
    height: 120px; 
    background-color: rgb(0, 0, 0);
}
.mainnav {
    list-style-type: none;
    display: flex;
    gap: 2px;
    background-color:rgb(0, 0, 0);
}
.mainnav li a {
    text-decoration: none;
    padding: 40px 30px;
    background-color: rgb(0, 0, 0);
    color: beige;
    font-family: 'Lucida Sans Unicode';
}
.mainnav li a:hover {
    background-color: rgb(88, 88, 88);
    color: beige;
}

h1{
    text-decoration: none;
    padding: 30px 100px;
    background-color: rgb(0, 0, 0);
    color: beige;
}


.cards {
    width: 1000px;
    margin: 0 auto;
}
.cards {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
 }
 
 .card {
     width: 300px;
     background-color: black;
     color: white;
     box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4);
     font-family: 'Lucida Sans Unicode';
 }
 .card > img {
     width:100%;
 }
 .card-title {
     font-size: large;
     font-weight: bold;
     text-decoration: underline;
     font-family: 'Lucida Sans Unicode';
 }
 .card p { 
    margin-bottom: 25px;
}
 .container {
    padding: 15px 20px 30px;
    text-align: center;
} 
.paras{
    font-family: 'Lucida Sans Unicode';
    margin-bottom: 50px;
    margin-left: 20px;
    margin-top: 50px;
}




.footer{
    width: flex;
    margin: 0 auto;
}
.footer {
    padding:  20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(0, 0, 0);
    list-style-type: none;
}
.footernav img {
    display: inline;
    width: 50px;
    height: 50px; 
    background-color: rgb(0, 0, 0);
    text-decoration: none;
}
.footernav {
    background-color: black;
    text-decoration: none;
}
.footernav a {
    text-decoration: none;
    background-color: black;
}
.hp p{
    color: white;
    background-color: black;
    font-size: 24px;
    font-family: 'Lucida Sans Unicode';
}
.footertext a{
    background-color: black;
    color:white;
    font-family: 'Lucida Sans Unicode';
}